__pycache__/
venv/
data_base/__pycache__/
handlers/__pycache__/
keyboards/__pycache__/
.idea/
.breakpoints
.replit
config.py
background.py
poerty.lock
pyproject.toml
replit.nix
main2.py
controlpartytime.zip
controlpartytime.rar
controlpartytime.7z
controlpartytimeTEST.7z
game_control.db
README.md